* {
  box-sizing: border-box;
}

body {
  padding: 20px 0;
  font-family: 'Gentium Book Basic', serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #888;
}

h2 {
  color: #888;
}

/*Menu style*/

nav {
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);

  ul#menu {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: right;

    li {
      display: inline-block;
      float: left;
      margin-right: 1px;

      a {
        display: block;
        padding: 30px 20px;
        text-align: center;
        color: #222;
        text-decoration: none;
        text-transform: uppercase;
      }

      &:hover a, a.active {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  .show-menu {
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
  }

  input#show-menu {
    display: none;

    &:checked ~ #menu {
      display: block;
    }
  }
}

/*Form style*/

form > div {
  clear: both;
  padding: 1px;
  margin: 0 0 10px 0;

  > fieldset {
    label:not(.radioLabel) {
      font-size: 90%;
      font-weight: bold;
      width: 25%;
      float: left;
      padding-right: 10px;
    }

    > div > div {
      width: 75%;
      float: right;
    }
  }
}

fieldset {
  border: 0;
  padding: 0;

  > div {
    margin-bottom: 10px;
    float: left;
    width: 100%;
  }
}

input {
  &[type=text], &[type=email], &[type=url], &[type=password] {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}

textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input {
  &[type=text], &[type=email], &[type=url], &[type=password] {
    width: 100%;
  }
}

select {
  width: 100%;
}

input {
  &[type=text]:focus, &[type=email]:focus, &[type=url]:focus, &[type=password]:focus {
    outline: 0;
    border-color: #4697e4;
  }
}

[type=submit] {
  padding: 5px 10px;
}

textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

/*list of books*/

#list-book {
  display: table;
  width: 100%;

  > * {
    display: table-row;

    > * {
      display: table-cell;
      padding: 5px;
    }
  }

  #book-table-header {
    font-weight: bold;

    > * {
      border-bottom: solid 1px;
    }
  }
}

#new-book {
  display: none;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  nav {
    ul#menu {
      position: static;
      display: none;
      float: none;

      li {
        margin-bottom: 1px;
        width: 100%;

        a {
          width: 100%;
        }
      }
    }

    .show-menu {
      display: block;
    }
  }

  form > div {
    margin: 0 0 15px 0;

    > fieldset {
      label:not(.radioLabel) {
        width: 100%;
        margin: 0 0 5px 0;
      }

      > div > div {
        width: 100%;
        float: none;
      }
    }
  }

  input {
    &[type=text], &[type=email], &[type=url], &[type=password] {
      width: 100%;
    }
  }

  textarea, select {
    width: 100%;
  }

  #list-book-wp {
    overflow-x: scroll;
  }

  #list-book {
    .code_book, .disponibility {
      display: none;
    }
  }
}

.clearfix {
  display: inline-block;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */